<div class="border-block">
	<div class="rules-block">
		<dl type="i">
			<dt>
				<p class="rules-text">ARTIST:</p>
			</dt>
			<dd>
				<p class="rules-text">Choose from a pool of top 50 billboard artists to add to your label.</p>
			</dd>
			<dt>
				<p class="rules-text">POINTS:</p>
			</dt>
			<dd>
				<p class="rules-text">based on chart position, listeners and song play count.</p>
			</dd>

			<dt>
				<p class="rules-text">SCORING:</p>
			</dt>
			<dd>
				<p class="rules-text"><dt>Chart Position:</dt></p>
			</dd>
			<ol type="i">
				<li>Chart Position #1 - 100pts</li>
				<li>Chart Position #2 - 90pts</li>
				<li>Chart Position #3 - 80pts</li> 
				<li>Chart Position #4 - 70pts</li>
				<li>Chart Position #5 - 60pts</li>
				<li>Chart Position #6-10 - 50pts</li>
				<li>Chart Position #11-20 - 40pts</li>
				<li>Chart Position #21-25 - 30pts</li>
				<li>Chart Position #26+ - 10pts</li>
			</ol>

			<dd>
				<p class="rules-text"><dt>Listeners:</dt></p>
			</dd>
			<ol type="i">
				<li>Initial Overall total subtracted from the games end date total.</li>
			</ol>

			<dd>
				<p class="rules-text"><dt>Song Play Count:</dt></p>
			</dd>
			<ol type="i">
				<li>Initial Overall total subtracted from the games end date total.</li>
			</ol>

			<dt>
				<p class="rules-text">BONUSES:</p>
			</dt>
			
				<li>Incentives will be applied to artist that move up multiple chart positions<br> or that reach specific milestones in listener and play count stats.</li>
			 
		    </dl>
	</div>
</div>