<h1> The Rules </h1>

<div class="border-block">
	<div class="rules-block">
		<ul>
			<li>
				<p class="rules-text"></p>
			</li>
			<li>
				<p class="rules-text"></p>
			</li>
			<li>
				<p class="rules-text"></p>
			</li>
			<li>
				<p class="rules-text"></p>
			</li>
			<li>
				<p class="rules-text"></p>
			</li>
		</ul>
	</div>
</div>